/* ----------------------------------------- *
 * CSS Variables
 * ----------------------------------------- */
/*
 * File       : style.css
 * Created    : 2023.04.28
 * Update     : 2023.05.08
 * Author     : yoojin jeong
 *
 * SUMMARY:
 * 1) 
 * 2) Login / Signup page
 * 3) Dashboard
 * 4) 회원 관리
 * 5) 충전기 관리
 * 6) 부가서비스 관리
 * 7) 시스템 관리
 * 8) 정산
 * 9) APP 관리
 * 10) 고객센터
 */








/** --------------------------------
-- login
-------------------------------- */
.login-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-image: url('../img/login-background.png'); */
    background-size: cover;
    background-color: #EEF0F4;
    position: relative;
}
.login-wrap .login-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 60px;
    gap: 30px;

    width: 500px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
    border-radius: 30px;

    position: absolute;
    /* right: 65%; */
    left: 190px;
}
.login-wrap .login-box .logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 360px;
    height: 53px;
}
.login-wrap .login-box .logo img{
    height: 53px;
}
.login-wrap .login-box .label-form{
    margin-top: 20px;
}
.login-wrap .login-box .nav-tabs{
    display: flex;
}
.login-wrap .login-box .nav-tabs .nav-item{
    width: 50%;
    background-color: var(--gray-100);
}
.login-wrap .login-box .nav-tabs .nav-item a{
    text-align: center;
    color: var(--gray-500);
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    padding: 0 10px;
    line-height: 50px;
}
.login-wrap .login-box .nav-tabs .nav-item a.active{
    color: var(--dark-default);
}

.login-wrap .login-box .label-form:first-child{
    margin-top: 0;
}
.login-wrap .login-box .auto-login-check{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-check-input[type=checkbox]{
    margin: 0 !important;
    width: 16px;
    height: 16px;
    border: 1px solid #CDD0D3;
    border-radius: 4px;
}
.form-check-input[type=checkbox]:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid var(--blue-200);
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.login-form .btn-primary{
    margin-top: 30px;
}


.login-form-bottom{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
}
.login-form-bottom a{
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #747272;
    text-decoration: underline;
}
.login-form-bottom .bar{
    width: 1px;
    height: 13px;
    border: 1px solid #CACACB;
}

.login-wrap .station-animation{
    position: absolute;
    right: 0;
    padding-top: 130px;
}
.login-wrap .station-animation .car-img{
    animation-name: car-img;
    animation-duration: 10s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

    position: absolute;
    right: 480px;
    bottom: 200px;
}
.login-wrap .station-animation .car-img.loof{
    animation-iteration-count: infinite;
}

.login-wrap .charging-station{
    width: 1222px;
}

@-webkit-keyframes car-img {
    0% {
        right: 653px;
        bottom: 130px;
    }

    100% {
        right: 480px;
        bottom: 200px;
    }
}









/** --------------------------------
-- Dashboard
-------------------------------- */


.dashboard-page01{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.dashboard-page01 .bg-box{
    margin-bottom: 0;
}
.board-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    height: 650px;
}
.board-left{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}



.board-left .option-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.board-left .map-status{
    width: 100%;
}
.board-left .map-status ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.board-left .map-status li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.board-left .map-status span{
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: var(--dark-default)
}
.board-left .map-status .num{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}
.board-left .map-status .status01{
    background: #002F87;
    border: 4px solid #BED5FF;
}
.board-left .map-status .status02{
    background: #0D6EFD;
    border: 4px solid #CEE7FF;
}
.board-left .map-status .status03{
    background: #FF9920;
    border: 4px solid #FFE5C7;
}
.board-left .map-status .status04{
    background: #00AE42;
    border: 4px solid #CFF5E0;
}
.board-left .map-status .status05{
    background: #E92C2C;
    border: 4px solid #FFD4C7;
}

.dashboard-map{
    width: 600px;
    height: calc(100% - 110px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 1px solid var(--btn-gray-300);
}
.dashboard-map img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}







.board-right{
    width: calc(100% - 620px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-line{
    box-sizing: border-box;
    border: 1px solid var(--btn-gray-300);
    padding: 20px;
    border-radius: 10px;
}
.board-data-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.board-data-group .box-line{
    display: grid;
    gap: 10px;
}

.data-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.data-head .head-icon{
    width: 18px;
}
.data-head span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.data-head span.trending-up{
    color: var(--blue-200);
}
.data-head span.trending-down{
    color: #E92C2C;
}
.data-head span img{
    width: 24px;
    height: 24px;
}
.data-head .data-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.board-right .board-data-group .data-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board-right .board-data-group .data-cont .cont-label,
.board-right .board-data-group .data-cont .unit{
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #9c9c9c;
}
.board-right .board-data-group .data-cont .cont-result{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.board-right .board-data-group .data-cont .cont-result .count{
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: var(--dark-default);
}
.board-right .board-data-group .data-cont .cont-result .usage{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--dark-default);
}


.board-graph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: calc(100% - 176px);
}
.board-graph .box-line{
    overflow: hidden;
}
.board-graph .graph-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.board-graph .graph-head h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-default);
}
.board-graph .graph-head h3 span{
    font-size: 14px;
}
.board-graph .cont-head{
    width: auto;
}
.board-graph .nav-tit-tabs{
    border-bottom: 0;
    margin-bottom: 20px;
}
.board-graph .nav-tit-tabs a{
    border-radius: 0;
    padding: 0px 20px;
    line-height: 34px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--btn-gray-300);
    font-size: 16px;
    font-weight: 500;
    color: #9c9c9c;
}
.board-graph .nav-tit-tabs a.active{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: var(--btn-gray-300);
    color: var(--dark-default);
}
.board-graph .nav-tit-tabs a span{
    font-size: 12px;
}


.board-graph .cont-head .nav-tabs li{
    border-bottom: 1px solid #CDD0D3;
}
.board-graph .cont-head .nav-tabs li a{
    font-size: 14px;
    line-height: 34px;
    padding: 0px 15px;
    color: #9C9C9C;
}
.board-graph .cont-head .nav-tabs li a.active{
    color: var(--dark-default);
}
.board-graph .green-graph .nav-tabs li a.active{
    border-bottom: 2px solid #00AE42;
}
.board-graph .blue-graph .nav-tabs li a.active{
    border-bottom: 2px solid var(--blue-200);
}

.board-graph .tab-content{
    height: calc(100% - 55px);
}
.board-graph .multi-tab-cont .graph-head{
    position: absolute;
    top: -55px;
    right: 0;
    width: auto;
    z-index: 100;
}
.board-graph .multi-tab-cont .tab-content{
    height: 100%;
}
.board-graph .tab-content .tab-pane{
    position: relative;
    overflow: unset;
}
.board-graph .tab-content .tab-pane img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.board-bottom{
    display: flex;
    gap: 20px;
    width: 100%;
    height: calc(100% - 670px);
}
.board-table{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: calc(100% / 2 - 10px);
}
.board-table .table-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.board-table .table-head h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-default);
}
.board-table .table-head a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    height: 20px;
    color: #8a8a8a;
}
.board-table .table-head a span{
    display: flex;
    align-items: center;
}
.board-table .table-head a span img{
    width: 16px;
    height: 16px;
}
.board-table .table{
    height: calc(100% - 30px);
}
.board-table table td a{
    color: var(--gray-400);
    text-decoration: none;
}

.progress-tb,
.progress-tb table{
    height: 100%;
}
.progress-tb table tr{
    border-top: none;
}
.progress-tb table th{
    background-color: var(--white);
    font-weight: 400;
}
.progress-tb table tbody tr{
    border-bottom: none;
}

.progress-tb .progress{
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background-color: #eef0f4;
}

.progress-tb .per-label{
    padding: 0 10px;
    border-radius: 20px;
    width: 45px;
    height: 18px;
    color: var(--white);
    line-height: 18px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.progress-tb .per01{
    background-color: #0D8AFD;
}
.progress-tb .per02{
    background-color: #4DC9D1;
}
.progress-tb .per03{
    background-color: #68DAA3;
}
.progress-tb .per04{
    background-color: #F8B551;
}
.progress-tb .per05{
    background-color: #F88D51;
}




/** --------------------------------
-- 회원 관리
-------------------------------- */
.bg-box.type01{
    margin-bottom: 0;
    height: calc(100% - 94px);
    overflow: hidden;
}
.bg-box.type02{
    margin-bottom: 0;
    height: calc(100% - 144px);
    overflow: hidden;
}
.bg-box.type03{
    margin-bottom: 0;
    height: calc(100% - 194px);
    overflow: hidden;
}






/** --------------------------------
-- 충전기 관리
-------------------------------- */



/* 충전소 등록 모달 */
.charging-station-registration-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.charging-station-registration-body .body-first,
.charging-station-registration-body .body-second{
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--btn-gray-300);
}


.charging-station-registration-body .body-first ul{
    width: calc(100% - 387px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.charging-station-registration-body ul li{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.charging-station-registration-body ul li .label-form{
    width: 100%;
}

.map-area {
    position: relative;
    width: 367px;
    height: 340px;
}

.map-area .view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-200);
    background-image: url('../img/icon/icon-search-blue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.map-area img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.input-address #search-field{
    width: 215.5px;
}
.input-address .readonly{
    width: calc(100% - 385.5px) !important;
    margin-left: 10px;
}

.detail-address-form{
    gap: 10px !important;
}
.detail-address-form .btn{
    min-width: 65px;
}



.charging-station-registration-body .body-second ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.multi-input{
    display: flex;
    gap: 10px;
    width: calc(100% - 200px) !important;
}
.multi-input input{
    width: 100%;
}

.charging-station-registration-body .body-second .tabnselect{
    width: calc(100% - 150px);
    display: flex;
    gap: 10px;
}
.charging-station-registration-body .body-second .tabnselect.half{
    width: calc(50% - 160px);
}
.dash-line{
    border-bottom: 1px dashed var(--btn-gray-300);
    padding-bottom: 20px;
}

.charging-station-registration-body .body-end{
    width: 100%;
}

/* 주소 검색 모달 */
.search-addr-modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tip{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: var(--dark-default);
}
.tip .label{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    width: 49px;
    border-radius: 25px;
    border: 1px solid var(--btn-gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-addr-modal-body .desc{
    padding: 20px;
    background-color: var(--btn-gray-100);
    border-radius: 6px;
}
.search-addr-modal-body .desc ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-addr-modal-body .desc li{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: var(--dark-default);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-addr-modal-body .desc li span{
    color: var(--gray-400);
    display: block;
}



/* 충전기 등록 모달 */
.registration-charger-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.charging-unit-price{
    margin-top: 20px;
    width: 100% !important;
}





/** --------------------------------
-- 부가서비스 관리
-------------------------------- */






















/** --------------------------------
-- 시스템 관리
-------------------------------- */

/* 항목관리 */
.slm-form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}
.slm-form-group::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}
.flex-group{
    display: flex;
    gap: 20px;
    width: 100%;
}
.slm-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(50% - 10px);
}
.slm-form.hidden{
    display: none;
}
.add-btn-one.label-form input{
    width: calc(100% - 228px);
}
.checkbox-panel{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px 20px;
    gap: 20px;
    border: 1px solid var(--btn-gray-300);
    border-radius: 6px;
    width: calc(100% - 150px);
    height: inherit;
    min-height: 126px
}
.checkbox-panel.just-panel{
    padding: 10px 20px;
    min-height: auto;
}

.checkbox-panel.disabled{
    border: 1px solid #f3f3f5;
    background-color: #f3f3f5;
}
.checkbox-panel .checkbox-list{
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.checkbox-panel .bottom-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

.payment-system-input01{
    width: calc(100% - 555px) !important;
}
.payment-system-input02{
    width: 140px !important;
}
.authentication-method-input{
    width: calc(100% - 353px) !important;
}


/* 충전기 데이터 관리 */
.managing-charger-data-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.bottom-btn-group{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.bottom-btn-group .btn{
    min-width: 65px;
}











/** --------------------------------
-- 정산
-------------------------------- */





















/** --------------------------------
-- APP 관리
-------------------------------- */





















/** --------------------------------
-- 고객센터
-------------------------------- */























